.messi{
    display: block;
    margin: auto;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px blue;
    margin-top: 20px;
}

h1{
    font-family: "Winky Rough", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700px;
    font-style: normal;
    text-shadow: 0px 0px 6px black;
    color: white;
    display: inline-block;
}

body{
    background-color: grey;
}

.mavitext{
     color: aqua;
    font-family: "Winky Rough", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700px;
    font-style: normal;
    text-shadow: 0px 0px 6px black;
    margin-left: 15px;
}

.messibaslik{
    display: flex;
    justify-content: center;
}

p{
    text-align: center;
    color: aliceblue;
    text-shadow: 0px 0px 10px black;
}

/* Mobil cihazlar için (telefonlar) */
@media (max-width: 600px) {
    .messi {
        width: 90%;
    }

    .messibaslik {
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    p {
        padding: 0 10px;
    }
}

/* Tabletler için */
@media (min-width: 601px) and (max-width: 1024px) {
    .messi {
        width: 70%;
    }

    h1 {
        font-size: 2rem;
    }

    p {
        padding: 0 20px;
    }
}

/* Büyük ekranlar (masaüstü) için */
@media (min-width: 1025px) {
    .messi {
        width: 350px;
    }

    h1 {
        font-size: 2.5rem;
    }

    p {
        padding: 0 25%;
    }
}
